body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 525px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.location {
  margin-bottom: 20px;
}

.location h2 {
  margin-top: 0;
}

.location input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.location button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.weather {
  display: none;
}

.weather h2 {
  margin-top: 0;
}

.weather div {
  margin-bottom: 10px;
}

.weather span {
  font-weight: bold;
}




/*  BACKGROUND  */


/*  CONTENT  */

