{% load static %}


<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'home_page_style.css' %}">
</head>



<body>
<body>


<div class="container">
      <h1>Weather App</h1>
      <div class="location">
        <h2>Location</h2>
        <input type="text" placeholder="Enter location">
        <button>Get Weather</button>
      </div>

    <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="background">
      <div class="Circle1"></div>
      <div class="Circle2"></div>
      <div class="Circle3"></div>
      <div class="content">
        <h1 class="Condition"><i class="material-icons sun">wb_sunny</i>{{ description }}</h1>
        <h1 class="Temp">{{ temp }}°C</h1>
        <h1 class="Time" id="time"></h1>
        <h1 class="Location"><i class="material-icons locationIcon">place</i>{{ city }}</h1>
      </div>
    </div>
</body>

    <script>
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes()

        document.getElementById('time').innerHTML=time
    </script>




</body>
</body>




</html>